@{
    ViewBag.Title = "Confirmación de Restablecimiento de Contraseña";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Confirmación de Restablecimiento de Contraseña</title>
    @Styles.Render("~/Content/css")
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f7f7f7;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            width: 100%;
            max-width: 450px;
        }

        .card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 15px;
        }

        .title {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }

        .message {
            font-size: 16px;
            color: #666;
            text-align: center;
            margin-bottom: 20px;
        }

        .btn-primary {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            background-color: #5cb85c;
            color: white;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
            text-align: center;
        }

            .btn-primary:hover {
                background-color: #4cae4c;
            }
    </style>
</head>
<body>

    <div class="container">
        <div class="card">
            <div class="title">Restablecimiento de Contraseña Confirmado</div>
            <div class="message">
                Su contraseña ha sido restablecida con éxito. Ahora puede iniciar sesión con su nueva contraseña.
            </div>
            <a href="@Url.Action("Login", "Authentication")" class="btn-primary">Iniciar Sesión</a>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
